<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드는 mybais 즉 db 연결을 사용하기위한거 홈페이지에서 퍼오면됨-->

<mapper namespace="com.aws.spring_study.repository.UserMappers">
<!-- mapper할 경로 즉 db를 이용해서 매개변수를 받을 인터페이스 경로-->

    <!--  오버라이드기 때문에 매개변수랑 parametertype이 동일해야함(insert,update,delete 는 반환이 무조건 개수(int))  -->
    <insert id="saveUser" parameterType="com.aws.spring_study.dto.RegisterUserReqDto">  <!-- 메소드명이랑 id가 동일해야한다.-->
        insert into user_tb
        values (0, #{username}, #{name}, #{phone})
    </insert>

    <select id="getUserListAll" resultType="com.aws.spring_study.entity.User">
        select
            user_id as userId,  <!-- *을 들고오지않는 이유는 자바랑 db의 이름이 다르기때문에 as로 변경해줘야함 -->
            username,
            name,
            phone
        from
            user_tb
    </select>
<!-- 위 쿼리문 검색 결과를 resultType으로 변환시켜줌(join이나 또는 타입의 개수 자료형이 같을때만 사용할수있음) -->

    <update id="updateUserList" parameterType="com.aws.spring_study.dto.ModifyUserReqDto">
        update
            user_tb
        set
            username = #{username},
            name = #{name},
            phone = #{phone}
        where
            user_id = #{userId}
    </update>

    <delete id="deleteUserList" parameterType="integer">
        delete from
            user_tb
        where
            user_id = #{userId}
    </delete>
</mapper>